EMULATED=true

# GITHUB
GITHUB_CLIENT_ID=${USER_GITHUB_CLIENT_ID}
GITHUB_CLIENT_SECRET=${USER_GITHUB_CLIENT_SECRET}

# SERVER
SERVER_URL=http://localhost:3000

# AWS
AWS_REGION=us-east-1
AWS_BUCKET_NAME=${USER_AWS_BUCKET_NAME}
IS_AWS_S3=false

# AWS-MinIO
#AWS_ACCESS_KEY_ID=${USER_AWS_ACCESS_KEY_ID}
#AWS_SECRET_ACCESS=${USER_AWS_SECRET_ACCESS}
#AWS_ENDPOINT=${USER_AWS_ENDPOINT}

# AWS-SeaweekFS
AWS_ACCESS_KEY_ID=${USER_AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS=${USER_AWS_SECRET_ACCESS}
AWS_ENDPOINT=${USER_AWS_ENDPOINT}

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_KEY=passw0rd     # Redis authentication key
CUSTOM_REDIS_TLS_CRT=./redis-key/client.crt
CUSTOM_REDIS_TLS_KEY=./redis-key/client.key
CUSTOM_REDIS_TLS_CA=./redis-key/ca.crt
CUSTOM_REDIS_TLS_SERVERNAME=redis-server

LOGGING=true
